.header {
  display: flex;
  justify-content: space-between; /* Distribute space between title and nav */
  align-items: center; /* Center vertically */
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #00BFFF;
  border-bottom: 1px solid #ddd;
}

.title {
  font-size: 2rem;
  margin: 0; /* Remove margin */
}

nav {
  display: flex; /* Make nav a flex container */
}

nav a {
  text-decoration: none;
  color: #333;
  margin-left: 20px; /* Space between links */
}

nav a:hover {
  text-decoration: underline;
}
